body{padding-top:70px; font-family: 'Roboto Slab', serif;}
h1,h2,h3{font-family: 'Oxygen', sans-serif;}
.slider-home {height:400px; overflow:hidden; position:relative}
.slider-home .bg{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; overflow: hidden; width: 100%;}
.slider-home .bg:after{position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; display: block; background: url(../images/substrate_bg.png); content: " ";}
.slider-home .bg img{display: block; width: 100%; height: auto;}
.slider-home .container{position:relative;}
.slider{background:#fff; height:300px; margin-top:50px; overflow:hidden; padding:6px;}
.slider-home hgroup{ margin-top:150px; color:#fff;}
.slider .carousel,.slider .carousel .carousel-inner {height:100%;}
.slider .carousel .carousel-control.right,.slider .carousel .carousel-control.left{background:none;}
.slider .carousel .item img{height:100%; width:100%;}
.slider .carousel .item{height:100%; width:100%;}
.welcomeText{margin-top:50px; font-family: 'Alegreya Sans SC', sans-serif;}
.circle{background:#3e7e80; border-radius:50%; font-size:30px; font-weight:bold; line-height:0px; padding:30px 20px; color:#fff; width:60px; margin:10px auto;}
.steps h3{}
.steps div{text-align:center}
.steps p{}
.footer{ padding:50px 0; background:#3e7e80; color:#fff;}
.navbar-nav>li>a{padding-top:40px; padding-bottom:10px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{background-color:#3e7e80;}
.navbar-default{background-color:#3e7e80;}
.navbar-brand{padding:0;}
.navbar-brand img{float: left;}
.navbar-brand h2{float: left;
color: #fff;
text-transform: uppercase;
padding-left: 20px;
padding-top: 10px;
letter-spacing: 3px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{background-color:#ffff67;}
.navbar-default .navbar-nav>li>a{color:#fff;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color:#ffff67}
.panel-primary{border-color:#3e7e80}
.panel-primary>.panel-heading{background-color:#3e7e80; border-color:#3e7e80}
.footer a {color:#ffff67;}
.footer input,.footer textarea, .footer button{background-color:transparent; color:#ffff67; border-color:#ffff67; border-style:dashed}
.footer button{margin-top:15px;background-color:#ffff67; color:#000}
.media {font-size:24px; margin-top:0;}
.mission{margin-bottom:50px; margin-top:30px;}
.events{margin-top:30px;}
.methodology{margin-bottom:50px;}
.mission h2{margin-top:0;}
.page-title{background:url(../images/slider-bg.jpg) no-repeat center; background-size:cover; height:100px}
.page-title h1{text-align:right; color:#fff; line-height:100px; margin:0;}
body > .container{margin-top:20px;}
iframe{border:none;}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.slider-home {height:300px;}
	.slider{height:200px;}
	.slider-home hgroup{ margin-top:70px;}
}
@media (max-width: 768px) {
	.slider{display:none;}
	.slider-home {height:200px;}
	.slider-home hgroup{ margin-top:50px;}
	.steps li{text-align:center}
	.steps h3{display:block; margin:0;}
	.steps p{margin-left:80px;}
}
/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}
